<app-header></app-header>
<section class="about" style="padding-top: 10%;">
    <div class="main">
        <img src="./assets/images/whoarewe.jpg" alt="image">
        <div class="text" style="text-align: justify">
            <h2 style="color: rgb(255, 242, 3) ;">About Us</h2>
            <p>VoizFonica is a Mobile Network Operator and telephone company. 
                VoizFonica provides network access and telecommunication services 
                that help people and companies communicate in an easy, efficient and 
                environmentally friendly way. VoizFonica  is a company that is aware 
                of the new challenges posed by today’s society. <br>This is why the company 
                offer the means to facilitate communication between people, providing them 
                with the most secure and state of the art technology in order for them to 
                live better, and for them to achieve whatever they resolve.</p>
            <a routerLink="/home">
                <button type="button">Home</button>
            </a>
        </div>
    </div>
</section><router-outlet></router-outlet>
