<app-header></app-header>
<h1>
  <div class="container" style="padding-top: 120px;">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Dongle Services</a>
      </li>
    </ul>
  </div>
</h1>
<div class="ml-auto padding-top ">
  <div class="card w-75  p-3 mb-5 bg-white rounded " style="margin-left: 10%">
    <div class="card-header grad">
      1 GB / Day Combo 3G / 4G Data Pack
    </div>
    <div class="card-body">
      <h5 class="card-title">Rs. 400(84 days)</h5>
      <p class="card-text">3G/4G Data: 1 GB / Day. Local, STD & Roaming Calls: Unlimited. SMS: Unlimited/Day<br>
        Get the Dongle at 50% off</p>

    </div>
  </div>
  <div class="card w-75 shadow p-3 mb-5 bg-white rounded " style="margin-left: 10%">
    <div class="card-header grad">
      2 GB / Day Combo 3G / 4G Data Pack
    </div>
    <div class="card-body">
      <h5 class="card-title">Rs. 499(82 days)</h5>
      <p class="card-text">
        3G/4G Data: 2 GB / Day, extra @Rs.0.04/10KB. Local, STD & Roaming Calls: Unlimited. SMS: 100 SMS / Day</p>
    </div>
  </div>
  <div class="card w-75 shadow p-3 mb-5 bg-white rounded " style="margin-left: 10%">
    <div class="card-header grad">
      1.4 GB / Day Combo 3G / 4G Data Pack
    </div>
    <div class="card-body">
      <h5 class="card-title">Rs. 1500(90 days)</h5>
      <p class="card-text">
      <p>Dongle+Internet Duo Pack<br>
        3G/4G Data: 1.4 GB / Day, extra @Rs.0.04/10KB. Local, STD & Roaming Calls: Unlimited.</p>
    </div>
    <div class="pay" style="padding-bottom: 40px; padding-left: 44%;">
      <a routerLink="/rechargegateway" class="btn btn-primary">Recharge</a>
    </div>
  </div>
