<div class="card bg-primary text-light">
    <div class="card-body text-center">
      <div class="h1 mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          fill="currentColor"
          class="bi bi-phone"
          viewBox="0 0 16 16"
        >
          <path
            d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
          />
          <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </svg>
      </div>
      <h3 class="card-title mb-3">Prepaid</h3>
      <p class="card-text">
        Have Voiz Prepaid features which gurantees best internet and phone
        services to our customer.Click read more to know more about
        the offers that we are providing to you.Just click to proceed to Prepaid section 
        and select the best plan for yourself.
      </p>
      <a href="/prepaid" class="btn btn-light"
        >Proceed to Prepaid section</a
      >
    </div>
  </div>

