<div class="col-md">
    <div class="card bg-primary text-light">
      <div class="card-body text-center">
        <div class="h1 mb-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            fill="currentColor"
            class="bi bi-usb-drive"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4H6v-4ZM7 1v1h1V1H7Zm2 0v1h1V1H9ZM6 5a1 1 0 0 0-1 1v8.5A1.5 1.5 0 0 0 6.5 16h4a1.5 1.5 0 0 0 1.5-1.5V6a1 1 0 0 0-1-1H6Zm0 1h5v8.5a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V6Z"
            />
          </svg>
        </div>
        <h3 class="card-title mb-3">Dongle</h3>
        <p class="card-text">
          Introducing Voiz Dongle which provides seamless internet
          experience anywhere you want.Click read more to know more about
          the offers that we are providing to you.Just click to proceed to dongle section 
          and select the best plan for yourself.
        </p>
        <a href="/dongle" class="btn btn-light"
          >Proceed to Dongle section</a
        >
      </div>
    </div>
  </div>