<div class="loginbox" style=" padding-top: 150px;">
    <a routerLink="/home" style="margin-left:40% ;">  <img src="./assets/images/corporate login icon.jpg" alt="Login Logo" class="icon" ></a>
     <h3 style="color: black; margin-left: 10%;;">It's good to see you Voizian!!!</h3>
     <form style="padding-top: 1%;">
         <p style="color: black;"><label class="form-label" for="emailaddress">Email address</label></p>
         <input type="email" class="form-control" name="" placeholder="Enter your email address">
         <p style="color: black;" ><label class="form-label" for="password">Password</label></p>
         <input class="form-control" type="password"  placeholder="Enter your password">
         <input type="submit" name="" value="login" >
         <a routerLink="/forgotpassword" style="color: black;">Forgot Password?</a><br>
     </form>
 </div>
 <router-outlet></router-outlet>