<app-sidebarforlogin></app-sidebarforlogin>

<div class="loginbox" style="padding-top: 10%; padding-left: 20%;">
    <a routerLink="/sidebar"><img src="./assets/images/phone-number.jpg" alt="Login Logo" class="icon"
            style="padding-right: 5%;"></a>
    <h1 style="color: black;">View Your Voiz Bill</h1>
    <form>
        <p style="color: black;"><label class="form-label" for="emailaddress">Phone Number</label></p>
        <input type="text" class="form-control" name="" placeholder="Enter Your Number ">
        <p>
            <a routerLink="/viewbill"><input type="button" name="" value="Submit"></a>
            <a routerLink="/sidebar"><input type="button" name="" value="Cancel"></a>
        </p>
    </form>
</div>