<app-header></app-header>
<section class="p-5">
  <div class="container" style="padding-top: 50px">
    <div class="row text-center g-4">
      <div class="col-md">
        <app-prepaidcard></app-prepaidcard>
        <br>
      <!---------------------------------------------->
        <app-postpaidcard></app-postpaidcard>
        <br>
      <!---------------------------------------------->
        <app-donglecard></app-donglecard>
        
      <!---------------------------------------------->
    </div>
  </div>
  </div>

</section>
<router-outlet></router-outlet>