<div class="loginbox">
    <a href="/home" style="padding: 40%;"><img src="./assets/images/new-password-icon.png" class="icon"></a>

    <h1 style="color: black;">Setup New Password</h1>
    <form newpasswordform="ngForm" (ngSubmit)="newpasswordUser()">
        <p style="color: black;">Email Address</p>
        <input type="email" name="email" placeholder="Enter your email address " [(ngModel)]="user.email">
    
         
         <p style=" color: black;">Create New password</p>
            <input type="password" name="password" placeholder="Enter a new Password" [(ngModel)]="user.password">
            <p style="color: black;">Confirm Password</p>
            <input type="password" name="" placeholder="Confirm your new Password">
            <button type="submit" class="btn btn-success">Submit</button><br>

    </form>
    <router-outlet></router-outlet>