<div class="container">
    <div class="header">
        <div class="nav">
            <div class="search">
                <input type="text" placeholder="Search..">
                <button type="submit"><img src="assets/images/search.png" alt=""></button>
            </div>
            <div class="user">
                <a href="#" class="btn">Add New</a>
                <img src="notifications.png" alt="">
                <div class="img-case">
                    <img src="user.png" alt="">
                </div>
            </div>
        </div>